/client/node_modules
/comments/node_modules
/posts/node_modules
/events/node_modules
/query/node_modules

/client/package-lock.json
/posts/package-lock.json
/comments/package-lock.json
/events/package-lock.json
/query/package-lock.json